body{

}

/************
    header
************/

.banner{
    background-color: #B0C4DE;
    height: 80px;
    border-radius: 10px;
    margin: 7px;
}
.navbar-brand h3 {
    color: #FFFFFF;
}
.nav-link .fa{
    color: white;
}
.nav-item:hover {
     background-color: 	#FFB6C1;
}
.nav-item:hover a {
     color: black;
}
.nav-link {
    letter-spacing: .1em;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 20px;
}
#navbarDropdown {
    letter-spacing: .1em;
    font-size: 18px;
    text-transform: uppercase;
}
.dropdown-item {
   background-color: #B0C4DE;
   letter-spacing: .2em;
   font-size: 16px;
   text-transform: uppercase;
}

/************
    index
************/

.btn-add{
   text-align: center;
}
.btn-add:hover {
    background-color: #FFB6C1;
    color: white;
}
.p-3{
   background-color: #B0C4DE;
   text-align: center;
   height: 300px;
   border-radius: 30px;
   margin: 7px;
}
.form-control{
   text-align: center;
   margin: 7px;
}
.form-c{
   text-align: center;
   margin: 7px;
}
.hollywood-img{
   height: 300px;
   width: 600px;
   margin: 7px;
   border-radius: 30px;
}
.card{
   text-align: center;
   width: 20rem;
   height: 440px;
}
.index_list_div {
    padding-bottom: 30px;
    padding-left: 50px;
}
.card-img-top{
   width: 20rem;
   height: 375px;
}
.card-details{
   border-radius: 10px;
   width: 25rem;
   height: 400px;
}
.card-img-top-detail {
    width: 25rem;
    height: 320px;
}
.card-body-details {
    color: #000000;
}

/************
    footer
************/

.me-4 {
    text-decoration: none;
}
.foot_p-3{
    background-color: black;
    height: 30px;
    padding: 5px;
}
footer{
    background-color: black;
    margin-top: 10px;
}
.me-5 {
    color: #000000;
    font-size: 20px;
}
.fab {
    margin-left: 20px;
    padding-right: 5px;
    color: 	#000000;
}
a:hover .fab {
  color: red;
}
.foot_pro_a {
    text-decoration: none;
}
a.foot_pro_a:hover {
  color: #B0C4DE !important;
}
.custom_search_icon {
    background-color: white;
    height: 35px;
    margin-top: 8px;
}
.custom_search_ico{
    color: black;
}
.movie_detail_pic {
    width: 18rem;
    height: 275px;
}

.detail_top_container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.details_icons_div {
    margin-top: 20px;
}
.details_icons_div .fa{
    margin-right: 20px;
}
.update_card {
   background-image: linear-gradient(360deg, #13547a 10%, #80d0c7 100%);
   height: 600px;
   width: 40rem;
   border-radius: 10px;
}
.update_form {
   background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
   text-align: center;
   height: 520px;
   border-radius: 10px;
}
.update_container {
    padding-bottom: 20px;
    padding-top: 10px;
}
.card-img-top_update {
   height: 600px;
   width: 40rem;
   border-radius: 10px;
}
.card-img-top_updated {
   height: 500px;
   border-radius: 10px;
}
.btn_add_update {
    background-color: white;
    color: black;
}
.updated_card_body {
    background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
}


/************
    delete
************/

.delete_container {
    padding-top: 10px;
}
.delete_card_img {
    height: 500px;
    width: 40rem;
}
.delete_card_div {
    width: 50rem;
    height: 600px;
}

/************
    search
************/

.search_text_empty {
    padding-bottom: 400px;
}
.searched_card {
    marging_left: 10px;
}
.movie_searched_detail_pic {
    height: 280px;
    width: 18rem;
    padding: 10px;
}