{% extends 'base.html' %}

  {% block body %}

    <div class="fluid-container">
         <div class="row">
             <div class="col-md-12">
                 <div class="banner shadow">
                     <nav class="navbar navbar-expand-lg navbar-light bg-#EEE8AA">
                        <div class="container-fluid">
                           <a class="navbar-brand" href="#">HoLLywOOd HuB</a>
                           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                             <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                 <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="#">Home</a>
                                 </li>
                                 <li class="nav-item">
                                   <a class="nav-link" href="#">Link</a>
                                 </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       Dropdown
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="#">Action</a></li>
                                      <li><a class="dropdown-item" href="#">Another action</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                  </li>
                              </ul>
                              <form class="d-flex">
                                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                 <button class="btn btn-outline-success" type="submit">Search</button>
                              </form>
                           </div>
                        </div>
                     </nav>
                 </div>
             </div>
         </div>
    </div>

    <div class="container">
         <div class="row">
             <div class="card">
                 <div class="card-titile">
                     <h5>Are you sure you want to delete this film?</h5>
                     <div class="card-body">
                         <div class="card-detail" style="width= 18rem;">
                            <img src="{{movieDeleteObj.movieImg.url}}" class="card-img-top" alt="...">
                               <h5 class="card-title">{{movieDeleteObj.movieName}}</h5>
                               <p class="card-text">{{movieDeleteObj.moviePriority}}</p>
                                <p class="card-text">{{movieDeleteObj.movieDate}}</p>
                         </div>
                         <div class="row">
                             <form method="POST" enctype="multipart/form-data">
                               {% csrf_token %}
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                  <a href="{% url 'cbv_app:cbvhome' movieDeleteObj.id %}" class="btn btn-primary">Back To Home</a>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

{% endblock %}