{% extends 'base.html' %}

  {% block content %}



    <div class="container delete_container">
         <div class="row">
             <div class="card delete_card_div">
                 <div class="card-titile main_delete_card_title">
                     <h5>Are you sure you want to delete this film?</h5>
                     <div class="card-body">
                         <div class="card-detail delete_card_detail" style="width= 18rem;">
                            <img src="{{movie.movieImg.url}}" class="delete_card_img" alt="...">
                               <h5 class="card-title delete_card_title">{{movie.movieName}}</h5>
                         </div>
                         <div class="row delete_confirm_row">
                            <form method="POST" enctype="multipart/form-data" action="{% url 'cbv_app:delete' movie.id %}">
                             {% csrf_token %}
                                <input type="hidden" name="next" value="{% url 'cbv_app:cbvhome' %}">
                               <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                               <a href="{% url 'cbv_app:cbvhome' %}" class="btn btn-primary">Back To Home</a>
                            </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

{% endblock %}