{% extends 'base.html' %}

  {% block content %}



    <div class="container">
         <div class="row">
             <div class="card">
                 <div class="card-titile">
                     <h5>Are you sure you want to delete this film?</h5>
                     <div class="card-body">
                         <div class="card-detail" style="width= 18rem;">
                            <img src="{{movie.movieImg.url}}" class="card-img-top" alt="...">
                               <h5 class="card-title">{{movie.movieName}}</h5>
                               <p class="card-text">{{movie.moviePriority}}</p>
                                <p class="card-text">{{movie.movieDate}}</p>
                         </div>
                         <div class="row">
                            <form method="POST" enctype="multipart/form-data" action="{% url 'cbv_app:delete' movie.id %}">
                             {% csrf_token %}
                                <input type="hidden" name="next" value="{% url 'cbv_app:cbvhome' %}">
                               <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                               <a href="{% url 'cbv_app:cbvhome' %}" class="btn btn-primary">Back To Home</a>
                            </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

{% endblock %}