{% load static %}
<div class="fluid-container">
    <div class="row">
        <div class="col-md-12">
            <div class="banner shadow">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><h3>HoLLywOOd HuB</h3></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active link-hover" aria-current="page" href="{% url 'cbv_app:cbvhome' %}"><i class="fa fa-home fa-2x"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="color: white;">Pricing</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="color: white; font-size: 18px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Products
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Movies</a></li>
                                        <li><a class="dropdown-item" href="#">Web Series</a></li>
                                        <li><a class="dropdown-item" href="#">Interviews</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white;" href="#">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white;" href="#">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white;" href="#">Review</a>
                                </li>
                            </ul>
                            <form class="d-flex ml-auto" action="{% url 'search_app:searchResult' %}" method="get">
                                <input class="form-control me-2" type="search" placeholder="Search movie" name="q" aria-label="Search">
                                <button class="btn btn-outline-info custom_search_icon" type="submit"><i class="fa fa-search custom_search_ico"></i></button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


