{% extends 'base.html' %}

{% block content %}
  <div class="container update_container text-justify">
    <div class="row mx-auto">
      <div class="col-12 col-md-6 mb-4">
        <div class="card update_card text-center text-justify">
          <div class="card-title update_card-title">
            <h5>Movie Update</h5>
          </div>
          <div class="card-body update_card_body">
            <form class="p-3 shadow update_form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form.as_p}}
              <button class="btn-add btn-primary btn_add_update">Add</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <div class="card text-center text-justify updated_image_card_body">

          <div class="card-body_current_img">
            <img src="{{movieDetailObj.movieImg.url}}" class="card-img-top_updated" alt="...">
            <div class="card-body_current_img_titile">
              <p>Current Image</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto text-center text-justify details_icons_div">
      <a href="{% url 'cbv_app:cbvhome' %}"><i class="fa fa-arrow-left fa-1x"></i></a>
      <a href="{% url 'cbv_app:update' movieDetailObj.id %}"><i class="fa fa-plus-circle fa-1x"></i></a>
      <a href="{% url 'cbv_app:delete' movieDetailObj.id %}"><i class="fa fa-trash fa-1x"></i></a>
      <a href="{% url 'cbv_app:cbvhome' %}"><i class="fa fa-home fa-1x"></i></a>
    </div>
  </div>
{% endblock %}
